/* --rich-black: #0e131fff;
--white-smoke: #f2f4f3ff;
--celestial-blue: #20a4f3ff;
--beaver: #a9927dff; */
/* Define color palette */
:root {
    --primary-color: #20a4f3ff;
    --secondary-color: #fff;
    --accent-color: #FFC107;
    --background-color: #f2f4f3ff;
    --text-color: #333;
    --white-color: #fcfcfc;
}

/* General Styles */
body {
    font-family: 'Futura', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s;
}

.toggle-button {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 1000;
}

.sidebar {
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--white-color);
    flex: 0 1 auto;
    width: auto;
    max-width: 220px;
    position: fixed;
    height: 100%;
    top: 0;
    left: -240px;
    transition: left 0.3s;
    z-index: 999;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: var(--white-color);
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 5px;
    border-radius: 4px;
    transition: color 0.3s, background-color 0.3s;
}

.sidebar ul li a:hover {
    color: var(--text-color);
    background-color: var(--accent-color);
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
}

.header-gif {
    max-width: 150px;
    border-radius: 8px;
}

.profile-pic {
    max-width: 150px;
    border-radius: 50%;
    margin: 10px 0;
}

section {
    margin: 20px 0;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input,
form textarea,
form button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid var(--text-color);
}

form button {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: var(--accent-color);
}

footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .container {
        margin-left: 0;
    }

    .sidebar {
        left: -100%;
        width: 100%;
    }

    .toggle-button {
        display: block;
    }
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .sidebar {
        left: 0;
        max-width: 220px;
    }

    .content {
        margin-left: 220px;
    }
}

.sidebar.active {
    left: 0;
}

.container.sidebar-active {
    margin-left: 220px;
}

@media (max-width: 767px) {
    .container.sidebar-active {
        margin-left: 0;
    }
}